* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
input:-internal-autofill-selected {
  background-color: var(--tg-theme-secondary-bg-color) !important;
}

input[type='radio'] {
  appearance: none;
  background-color: var(--tg-theme-text-color);
  margin: 0;
  font: inherit;
  width: 1.7em;
  height: 1.7em;
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: 0.3s opacity;
}

input[type='radio']::before {
  content: '';
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--tg-theme-button-color);
}

input[type='radio']:checked::before {
  transform: scale(1);
  opacity: 1;
}

input[type='radio']:checked:hover {
  cursor: default;
  opacity: 1;
}

input[type='radio']:hover {
  opacity: 0.8;
}

a {
  text-decoration: none !important;
}

.main {
  margin-bottom: 60px;
}

:root {
  --tg-theme-accepted-color: rgb(97, 179, 82);
  --tg-theme-denied-color: rgb(208, 87, 85);
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  min-height: 100vh;
}
